*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    text-align: center;
    margin: 20px 0;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    position: relative;
    width: 32%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    object-fit: cover;
}
.card:hover{
    filter: drop-shadow(0 0 10px #333);
    transform: scale(1.03);
    transition: 0.5s;
}
.card img:hover{
    filter: grayscale(0);
    transition: 2s;
    transform: scale(1.05);
}
.card figcaption{
    position: absolute;
    bottom: 0;
    left: 5px;
    padding: 25px;
    opacity: 0;
    width: 100%;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255,0)100%);
    transition: 0.3s;
}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}
